.App {
      text-align: center;
      @apply bg-[#C978FC];
      @apply flex flex-col min-h-screen;
}

.header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
      @apply my-auto flex flex-col;
}

.link {
      color: #b318f0;
}

.btn {
      @apply text-lg font-bold py-3 px-6 rounded;
}

.btn-fuchsia {
      @apply bg-fuchsia-600 text-white;
}

.btn-fuchsia:hover {
      @apply bg-fuchsia-700;
}

.btn-off {
      @apply bg-gray-700
}

.btn-off:hover {
      @apply bg-gray-800
}
